<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Lists in html</title>
    </head>

    <body>
        <p>We are going to understand <strong>Lists</strong>
        in html and how they are <em>used</em> in html
        </p>

        <p>Lets understand ordered lists</p>
        <ol>
            <li>First item</li>
            <li>Second item</li>
        </ol>
        <p>In ordered list items are numbered</p>

        <p> Now lets understand unordered lists</p>
        <p>In unordered lists, items have bullet points</p>
            <ul>
                <li>First item</li>
                <li>Second item</li>
            </ul>

        <p>Now we have nested items in lists as well</p>
        <ol>
            <li><strong>First name:</strong></li>
            <ul>
                <li>Ayush</li>
                <li>Yadvi</li>
            </ul>
            <li><strong>Last name:</strong></li>
            <ul>
                <li>Yajnik</li>
                <li>Maheshwari</li>
            </ul>
        </ol>
    </body>
</html>