<!DOCTYPE html>
<html lang = "eng" dir = "ltr">
    <head>
        <meta charset="utf-8">
        <title>Template variable in flask</title>
    </head>

    <body>
        <h1> 
            Hello World!
        </h1>
        <h1>This website belongs to {{my_variable}}</h1>
        <h1>Lists in python can be called as: {{my_list_variable}}</h1>
        <h1>Dictionaries in python can be called as: {{my_dict_variable}}</h1>
        <p>You can also call the dictionary value as well: {{my_dict_variable['pup_name']}}</p>
    </body>

</html>