{%extends "base.html"%}

{% block content %}
<div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <h1 class="text-white">AIlogy</h1>
            <h3 class="text-white">Your one stop for Science, Technology and Mathematics</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Exploring the Latest Breakthroughs in Science, Technology, and Mathematics with a Focus on Artificial Intelligence</h2>
        <br>
        <br>
        <h6>
            This blog will focus on the intersection of science, technology, and mathematics, with a specific emphasis on artificial intelligence (AI). 
            The field of AI is rapidly advancing, with new developments and breakthroughs happening all the time. Here, we will delve into the latest research and advancements in AI, discussing the implications of these developments for society and industry.
            From machine learning and natural language processing to robotics and computer vision, we will explore the many different branches of AI and how they are being used to solve real-world problems. 
            We will also delve into the ethical and societal implications of AI, discussing the implications for jobs, privacy and security. Join us as we explore the exciting and rapidly evolving field of AI and its impact on the world around us.
        </h6>
      </div>
    </div>
  </div>
{% endblock %}